trainset.csv
trainingdata.csv
testset.csv
modelRF_species_20240925.rds
modelNN_species_20240925.rds
trainset_wodebris.csv
trainingdata_wodebris.csv
testset_wodebris.csv
Collection_Reference_Pollens.csv
references_pollens_all.csv
modelRF_species_wodebris_20241128.rds
modelRF_species_balanced_20241212.rds
modelRF_species_balanced_20241216.rds
modelRF_species_balanced_20250106.rds
modelRF_species_balanced_essentials_20250110.rds
modelRF_species_balanced_wotaille_20241216.rds
modelRF_species_balanced_wotaille_20250106.rds
modelRF_genus_wodebris_20241204.rds
trainset_genus.csv
trainingdata_genus.csv
testset_genus.csv
trainset_balanced.csv
trainingdata_balanced.csv
testset_balanced.csv
trainset_balanced_essentials.csv
trainingdata_balanced_essentials.csv
testset_balanced_essentials.csv